name: ML Training Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  train-model:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run training script
        run: |
          python train.py

      - name: Add metrics to Job Summary
        run: |
          echo "## Experiment Results" >> $GITHUB_STEP_SUMMARY
          echo "**Name:** Rishi Pramod Chintakayala" >> $GITHUB_STEP_SUMMARY
          echo "**Roll No:** YOUR_ROLL_NUMBER" >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY
          echo "### Metrics" >> $GITHUB_STEP_SUMMARY
          cat output/results/metrics.json >> $GITHUB_STEP_SUMMARY

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: model-and-results
          path: |
            output/model/model.pkl
            output/results/metrics.json
